{% if truncate %}
	<div class="column is-half mb-3">
		<a href="{{ page.url }}" class="card is-block">
			<div class="card-image">
				{% include 'partials/header_image.html.twig' with {'display':'list'} %}
			</div>
			
			<div class="card-content">
				<h2 class="title is-4 mb-4 is-flex-grow-1">
					{{ page.title }}
				</h2>
				<div class="has-text-black has-text-right">
					{% include 'partials/item_date.html.twig' %}
				</div>
			</div>
		</a>
	</div>
{% else %}
	<div class="hero mb-5">
		<div class="hero-body p-0">
			<h1 class="title">{{ page.title }}</h1>

			{% include 'partials/item_date.html.twig' %}
			{% include 'partials/item_taxonomy.html.twig' %}
		</div>
	</div>

	{{ page.content }}

	<br><br>

	<section class="hero mt-5 is-light">
		<div class="hero-body">

			{% include 'partials/socialmedia_links.html.twig' %}

			{% include 'partials/posts_connected.html.twig' %}

		</div>
	</section

	<br><br>
{% endif %}
