<h4 class="title mb-2">
    {{ 'BLOG.SIDEBAR.POPULAR_ARTICLES'|t }}
</h4>

<div class="block">
    {% set popular_articles = popular_articles.get() %}
    {% for child in popular_articles %}
    <a 
        href="{{ base_url }}{{ child.route }}" 
        class="is-block has-text-weight-bold py-1"
    >
        {{ child.title }}
    </a>
    {% endfor %}
</div>