<h4 class="title mb-2">
    {{ 'BLOG.SIDEBAR.SYNDICATE'|t }}
</h4>
<div class="block">
    <div class="buttons">
        <a 
            href="{{ base_url }}/blog.atom" 
            class="button is-dark">
            <span class="icon is-small">
                <i class="fa fa-rss"></i>
            </span>
            <span>
                Atom 1.0
            </span>
        </a>
        <a 
            href="{{ base_url }}/blog.rss" 
            class="button is-dark">
            <span class="icon is-small">
                <i class="fa fa-rss"></i>
            </span>
            <span>
                RSS
            </span>
        </a>
    </div>
</div>