{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="container py-6">
        <div class="box">
            {% include 'partials/header_image.html.twig' with {'display':'header-image'} %}

            <div class="content">
                {{ page.content }}
            </div>
        </div>
    </div>
    
{% endblock %}
