{% extends 'partials/base.html.twig' %}

{% block content %}
	
	<div class="container py-6">
		<div class="box">
			{% include 'partials/header_image.html.twig' with {'display':'header-image'} %}

			<div class="content">
				{% include 'partials/blog_item.html.twig' with {'blog':page.parent, 'truncate':false} %}
			</div>
		

			{% if config.plugins.jscomments.enabled %}
				{{ jscomments()|raw }}
			{% endif %}
		</div>
	</div>
	
{% endblock %}
