{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
    <section class="hero">
		<div class="hero-body">
			<div class="container">
                <p class="title">{{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS"|t }}</p>
                <p class="subtitle">
                    {% if query %}
                        {% set count = search_results ? search_results.count : 0 %}
                        {% if count is same as( 1 ) %}
                            {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_SINGULAR"|t(query|e)|raw }}
                        {% else %}
                            {{ "PLUGIN_SIMPLESEARCH.SEARCH_RESULTS_SUMMARY_PLURAL"|t(query|e, count)|raw }}
                        {% endif %}
                    {% endif %}
                </p>
			</div>
		</div>
	</section>

    <div class="container pb-6">

        {% if config.plugins.pagination.enabled %}
            {% set limit = 10 %}
            {% do paginate( search_results, limit ) %}
        {% endif %}

        <div class="columns is-multiline is-variable is-5">
        {% for page in search_results %}
            {% include 'partials/blog_item.html.twig' with {'page': page, 'truncate':true} %}
        {% endfor %}
        </div>

        {% if config.plugins.pagination.enabled and search_results.params.pagination %}
            {% set simplesearch_url = base_url ~ config.plugins.simplesearch.route %}
            {% include 'partials/pagination.html.twig' with {'base_url':simplesearch_url, 'pagination':search_results.params.pagination} %}
        {% endif %}

    </div>
{% endblock %}
